@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(31, 116, 196);
}

.container{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: rgb(31, 116, 196);
}

.container form .form-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;
}

form .form-page .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.form-page .input-box .details{
    display: block;
    margin-bottom: 3px;
}

.form-page .input-box input, textarea{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-page .input-box input:focus,
.form-page .input-box input:valid{
    border-color:rgb(31, 116, 196);
}

form .gender-details .gender-details{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 7px;
    border: 3px solid #d9d9d9;
}

#dot-1:checked~ .category label .one,
#dot-2:checked~ .category label .two{
    border-color: #d9d9d9;
    background: rgb(31, 116, 196);
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 25%;
    justify-content: space-between;
    outline: none;
    color: #FFF;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: rgb(31, 116, 196);
}

form .button input:hover{
    background: rgb(23, 86, 145);
}

